In [1]:
# Importing file.
import pandas as pd

# File to load.
vine_table_to_load = "vine_table.csv"

# Read in the file.
vine_table_df = pd.read_csv(vine_table_to_load)
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3PMQXEVYR4ZT1,3,0,0,N,Y
1,R1I1K3EO98EMUV,5,0,0,N,Y
2,R3K23URSI2MY42,5,4,4,N,Y
3,RH2P770T10X38,5,0,0,N,Y
4,RV9YBAW8CWFYN,1,0,0,N,Y

In [2]:
# Filter data for votes.
vine_votes = vine_table_df.loc[(vine_table_df["total_votes"] >= 20)]
vine_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
64,R1Z9QZRQJ1F8JX,1,17,22,N,Y
79,R31PAYBVBP8W62,1,54,81,N,Y
157,R33GCMAT1K5DX8,2,141,190,N,Y
159,R3MIL83RY4SMS4,1,27,38,N,Y
191,R37T9FXGG07XOM,1,24,28,N,Y
...,...,...,...,...,...,...
5033221,R2QPDQN7GIXX5H,5,17,22,N,N
5033262,R30Q4XTH0EX17N,5,39,47,N,Y
5033268,RTOM7PSG279OC,5,26,28,N,N
5033272,R2LOPZEQDXN70I,4,27,35,N,N
5033319,R2AL32OLWX07O2,5,73,81,N,Y

In [3]:
vine_prop = vine_votes.loc[((vine_votes["helpful_votes"] / vine_votes["total_votes"]) >= .5)]
vine_prop

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
64,R1Z9QZRQJ1F8JX,1,17,22,N,Y
79,R31PAYBVBP8W62,1,54,81,N,Y
157,R33GCMAT1K5DX8,2,141,190,N,Y
159,R3MIL83RY4SMS4,1,27,38,N,Y
191,R37T9FXGG07XOM,1,24,28,N,Y
...,...,...,...,...,...,...
5033221,R2QPDQN7GIXX5H,5,17,22,N,N
5033262,R30Q4XTH0EX17N,5,39,47,N,Y
5033268,RTOM7PSG279OC,5,26,28,N,N
5033272,R2LOPZEQDXN70I,4,27,35,N,N
5033319,R2AL32OLWX07O2,5,73,81,N,Y

In [4]:
# filterting for paid reviews.
vine_paid = vine_prop.loc[(vine_prop["vine"] == "Y")]
vine_paid

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [5]:
# filtering for unpaid reviews
vine_unpaid = vine_prop.loc[(vine_prop['vine'] == "N")]
vine_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
64,R1Z9QZRQJ1F8JX,1,17,22,N,Y
79,R31PAYBVBP8W62,1,54,81,N,Y
157,R33GCMAT1K5DX8,2,141,190,N,Y
159,R3MIL83RY4SMS4,1,27,38,N,Y
191,R37T9FXGG07XOM,1,24,28,N,Y
...,...,...,...,...,...,...
5033221,R2QPDQN7GIXX5H,5,17,22,N,N
5033262,R30Q4XTH0EX17N,5,39,47,N,Y
5033268,RTOM7PSG279OC,5,26,28,N,N
5033272,R2LOPZEQDXN70I,4,27,35,N,N
5033319,R2AL32OLWX07O2,5,73,81,N,Y

In [6]:
# Total Reviews paid.
vine_paid.count()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [7]:
# Total Reviews unpaid.
vine_unpaid_count = vine_unpaid["review_id"].count()
vine_unpaid_count

129516

In [8]:
# Total 5 Star reviews.
vine_great_reviews = vine_unpaid.loc[vine_unpaid["star_rating"] == 5]["star_rating"].count()
vine_great_reviews

59278

In [9]:
# Percentage of 5 star reviews.
vine_great_prop = vine_great_reviews / float(vine_unpaid_count) * 100
vine_great_prop

45.76886253435869

In [12]:
vine_samp = vine_table_df.loc[(vine_table_df["vine"] == "Y")]
vine_samp.count()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64